body {
    margin: 0;
    overflow-x: hidden;
}

#about-info {
    animation: slidePageContent ease 1.5s; 
    /* background-color: gray; */
    color: var(--main-font-color);
    /* height: 900px; */
    font-family: var(--sub-font);
    font-size: 1.5rem;
    padding: 2.0rem 9.0rem 3.0rem 9.0rem;
}

#top-container {
    align-items: center;
    /* background-color: red; */
    display: flex;
    /* height: 35%; */
    justify-content: flex-end;
    justify-content: space-between;
    margin-bottom: 1.0rem;
}

#bottom-container {
    /* background-color: #fafafa; */
    font-size: 14pt;
    /* height: 65%; */
    line-height: 1.5rem;
    /* width: 97%; */
}

#pfp {
    background-color: #fafafa;
    background-image: url("../img/portrait.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    min-width: 300px;
    width: 300px;
}

#intro {
    /* background-color: #fafafa; */
    font-size: 14pt;
    /* height: auto; */
    line-height: 1.5rem;
    padding-right: 3.0rem;
}

@keyframes slidePageContent {
    from { padding: 2.0rem 8.0rem 3.0rem 8.0rem}
    to {padding: 2.0rem 9.0rem 3.0rem 9.0rem }
}
