body {
    margin: 0;
    overflow-x: hidden;
}

#about-info {
    animation: slidePageContent ease 1.5s; 
    /* background-color: gray; */
    color: var(--main-font-color);
    height: 900px;
    font-family: var(--sub-font);
    font-size: 1.5rem;
    margin: 4% 15%;
}

#top-container {
    /* background-color: red; */
    display: flex;
    height: 300px;
    justify-content: flex-end;
    justify-content: space-between;
    margin-bottom: 1.5%;
}

#bottom-container {
    background-color: #fafafa;
    height: 65%;
    width: 100%;
}

#pfp {
    background-color: #fafafa;
    background-image: url("https://hips.hearstapps.com/countryliving.cdnds.net/17/47/1511194376-cavachon-puppy-christmas.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    width: 30%;
}

#intro {
    background-color: #fafafa;
    height: auto;
    width: 68%;
}

@keyframes slidePageContent {
    from { margin: 4% 14% }
    to {margin: 4% 15% }
}
