html {
	width: 100%;
	height: 100%;
	font-family: 'Major Mono Display', monospace;
	text-transform: lowercase;
}

body {
	width: 100%;
	height: 100%;
	background-color: #222;
	background-image: url("./img/home_page_bg.png");
	background-repeat: repeat;
	background-size: 88%;
	animation: animatedBackground 10s linear infinite;
	margin: 0;
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

/*---position containers----*/
#fullname{
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#nav {
	width: 50%;
	position: absolute;
	z-index: 1;
	margin: 2%;

}

/*---style containers---*/
#name {
	color: #fff;
	font-size: 5.0rem;
	margin-right: 2%;
	text-align: right;
	letter-spacing: 0.25em;
}

.navBtn {
	font-family: 'Major Mono Display', monospace;
	outline: none;
	background: none;
	border: none;
	color: white;
	font-size: 16pt;
	margin-right: 3%;
}

.navBtn:hover {
	color: #0052e0;
	cursor: pointer;
	transition: all 0.3s;
}

/*----gradients-----*/
#gradient1 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

#gradient2 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

