
body {
	animation: fadeInAnimation ease 5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
	background-color: #050505;
	font-family: var(--main-font);
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	position: absolute;
	width: 100%;
}

#back {
	animation: animatedBackground 40s linear infinite;
	background-image: url("../img/home_page_bg.png");
	background-repeat: repeat;
	background-size: calc(3000px * 0.44) calc(1000px * 0.44);	
	height: 50%;
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/* ----animations---- */
@keyframes animatedBackground {
	from { background-position: calc(-3000px * 0.44) 0; }
	to { background-position: 0 0; }
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}

@keyframes moveDown {
	from { top: 74%; }
	to { top: 75%; }
}

/*---position----*/
#fullname{
	animation: moveDown ease 1.5s; 
	left: 50%;
	position: absolute;
	top: 75%;
	transform: translate(-50%, -50%);
	width: 100%;
}

/*---style---*/
#name {
	color: white;
	font-size: 5.0rem;
	letter-spacing: 0.25em;
	margin-right: 2%;
	text-align: right;
	text-transform: lowercase;
}

/*----gradients-----*/
#gradient1 {
	background-image: linear-gradient(rgba(5, 5, 5, 1), rgba(0, 0, 0, 0), rgba(5, 5, 5, 1));
	height: 50%;
	position: absolute;
	width: 100%;
}

#gradient2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(5, 5, 5, 1));
	height: 50%;
	position: absolute;
	width: 100%;
}

