
/*---position----*/
hr {
    opacity: 10%;
    width: 50%;   
}

#basic-nav {
	animation: moveUpBasicNav ease 1.5s;
	height: 4.0em;
	margin-bottom: 2%;
}

#full-nav {
	animation: moveUpFullNav ease 1.5s;
	height: 8.0em;
	margin-bottom: 2%;
}

.nav {
	animation: moveUpAbsolute ease 1.5s;
	margin: 2.0em;
	position: absolute;
	width: 100%;
}

.sub-nav {
	animation: moveUpAbsolute ease 1.5s;
	margin: 6.0em 2.0em 2.0em 2.0em;
	position: absolute;
	width: 100%;
}

/*---style---*/
.btn {
	color: var(--main-font-color);
	float: left;
	
}

.btn:hover {
	color:#0074e8;
	cursor: pointer;
	transition: all 0.3s;
}

.main-btn {
	font-size: 1.5rem;
	margin-right: 3.0em;
}

.sub-btn {
	font-size: 1.125rem;
	margin-right: 5.0em;
}

/* ------text colors------ */
.white-text {
	color: white;
}

/* .black-text {
	color: #111;
} */

.gray-text {
	color: #495b6e;
}

.blue-text {
	color: #2190ff;
}

/* -----animations----- */
@keyframes moveUpAbsolute {
	from { top: 1%; }
	to { top: 0; }
}

@keyframes moveUpFullNav {
	from { height: 9.0em; }
	to { height: 8.0em; }
}

@keyframes moveUpBasicNav {
	from { height: 5.0em; }
	to { height: 4.0em; }
}