
/*---position----*/
.nav {
	animation: moveUpAbsolute ease 1.5s;
	margin: 2%;
	position: absolute;
	width: 100%;
}

/*---style---*/
.Btn {
	background: none;
	border: none;
	color: #111;
	float: left;
	font-size: 1.5rem;
	margin-right: 5%;
	outline: none;
}

.Btn:hover {
	color:#0074e8;
	cursor: pointer;
	transition: all 0.3s;
}

.whiteText {
	color: white;
}

.grayText {
	color: #888;
}

.blueText {
	color: #2190ff;
}

/* -----animations----- */
@keyframes moveUpAbsolute {
	from { top: 1%; }
	to { top: 0; }
}

/* @keyframes moveUpRelative {
	from { padding-top: 1% }
	to { padding-top: 0 }
} */