body {
	animation: fadeInAnimation ease 5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
	font-family: var(--main-font);
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	position: absolute;
	width: 100%;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}