body {
	animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
	font-family: var(--main-font);
	height: 100%;
    margin: 0;
    overflow-x: hidden;
	position: absolute;
	width: 100%;
}

.background {
    background-attachment: fixed;
    background-image: url("../img/background_pattern.png");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 75%;
}

#line {
    margin-bottom: 3.0em;
}

hr {
    opacity: 10%;
    width: 50%;   
}

.directions {
    color: #ccc;
    font-family: var(--sub-font);
    margin: 0 4.5em;
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
}